.uploadBody {
    display: grid;
    grid-template-rows: 30% 30% 20% 20%;
    align-items: stretch;
    height: 40vh;
    background-image: url("https://images.pexels.com/photos/1109541/pexels-photo-1109541.jpeg?cs=srgb&dl=person-holding-black-pen-1109541.jpg&fm=jpg");
}

.uploadElements {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

h3.uploadElements,
input.uploadElements {
    padding-left: 4rem;
}

.spaceBetweenText {
    display: grid;
    grid-template-columns: 60% 1% 34%;
}

.callToAction {
    display: flex;
    justify-content: flex-end;
}

.resultsBody {
    padding-left: 1.5rem;
}
